
body{
outline:none;
/*
-moz-user-select: none; 
-webkit-user-select: none;  
-ms-user-select: none; 
-khtml-user-select: none; 
user-select: none; 
*/
}
.unable_select{-moz-user-select: none; -webkit-user-select: none;   -ms-user-select: none; -khtml-user-select: none;  user-select: none; }
/* img */
img{border:0px;}


/* Title */
.Title {color: #0093CE;font-size: 22px;font-weight: bold;font-family:Arial,Helvetica,Sans-serif}



/* Page tab hyperlink */
.Page_tab {color: #1195cf; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

A.HL_Page_tab:link {background:none;color:#1195cf; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Page_tab:visited {color:#1195cf; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Page_tab:active {color:#1195cf; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Page_tab:hover {color: #1195cf; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}


/* Table column header text */
A.HL_Column_header:link {background:none;color:#888888; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Column_header:visited {color:#888888; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Column_header:active {color:#888888; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Column_header:hover {color: #888888; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}


/* Tool menu */
.Toolmenu{font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
A.HL_Toolmenu:link {font-weight: bold; text-decoration: none; font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
A.HL_Toolmenu:visited { font-weight: bold; text-decoration: none; font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
A.HL_Toolmenu:active {font-weight: bold; text-decoration: none; font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
A.HL_Toolmenu:hover {font-weight: bold; text-decoration: none; font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
A.HL_Toolmenu_selected:link {font-weight: bold; text-decoration: none; font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
A.HL_Toolmenu_selected:visited {font-weight: bold; text-decoration: none; font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
A.HL_Toolmenu_selected:active { font-weight: bold; text-decoration: none; font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
A.HL_Toolmenu_selected:hover {font-weight: bold; text-decoration: none; font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
A.HL_Tray_link:link { text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif;}
A.HL_Tray_link:visited { text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif;}
A.HL_Tray_link:active { text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif;}
A.HL_Tray_link:hover { text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif;}




/* General text */
.Arial_10_white {color: #FFFFFF; font-size: 10px; font-family: Arial, Helvetica, sans-serif}

.Arial_10_grey {color: #333333; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
.Arial_10_grey_bold {color: #333333; font-size: 10px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_10_grey_lightA_bold {color: #AAAAAA; font-size: 10px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_10_grey_light6 {color: #666666; font-size: 10px; font-family: Arial, Helvetica, sans-serif}

.Arial_11_brown {color: #a67d4b; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_brown_bold {color: #a67d4b; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_11_green {color: #339A09; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_green_bold {color: #339A09; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_11_orange {color: #FF9D00; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_orange_bold {color: #FF9D00; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_11_purple {color: #AF02E0; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_purple_bold {color: #AF02E0; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_11_yellow {color: #FFE609; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_yellow_bold {color: #FFE609; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_11_red {color: #CC0000; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_red_bold {color: #CC0000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_11_red_light {color: #F25334; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_red_light_bold {color: #F25334; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_11_white {color: #FFFFFF; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_white_bold {color: #FFFFFF; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_11_white_bold_italic {color: #FFFFFF; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-style: italic}
.Arial_11_white_tm_bold {color: #FFFFFF; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #014966}
.Arial_11_white_bh_bold {color: #FFFFFF; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #ababab}

.Arial_11_blue {color: #1195cf; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_blue_bold {color: #1195cf; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_11_blue_bh_bold {color: #1195cf; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px -1px 0px #FFFFFF}
.Arial_11_blue_tm_bold {color: #80c6e1; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #005c81}
.Arial_11_blue_light {color: #aad7eb; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_blue_light_bold {color: #2CC0FF; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_11_blue_light_mc {color: #daf0fb; font-size: 12px; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #00a6ea}
.Arial_11_blue_light_mc_bold {color: #daf0fb; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #00a6ea}
.Arial_11_blue_lighter_bold {color: #ace6ff; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_11_blue_lighter_bold_italic {color: #ace6ff; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-style: italic}



.Arial_11_grey {color: #333333; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_grey_bold {color: #333333; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_11_grey_bold_italic {color: #333333; font-size: 12px; font-weight: bold; font-style: italic; font-family: Arial, Helvetica, sans-serif}
.Arial_11_grey_light6 {color: #666666; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_grey_light6_bold {color: #666666; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_11_grey_light8 {color: #888888; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_grey_light8_bold {color: #888888; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_11_grey_light8_bold_italic {color: #888888; font-size: 12px; font-weight: bold; font-style: italic; font-family: Arial, Helvetica, sans-serif}
.Arial_11_grey_tm_light8_bold {color: #888888; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #000000}
.Arial_11_grey_lightA {color: #AAAAAA; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
.Arial_11_grey_lightA_bold {color: #AAAAAA; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_11_grey_bb_lightA_bold {color: #AAAAAA; font-weight: bold; font-size: 12px; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #000000}
.Arial_11_grey_underline {color: #333333; font-size: 12px; text-decoration: underline; font-family: Arial, Helvetica, sans-serif}
.Arial_11_grey_italic {color: #333333; font-size: 12px; font-style: italic; font-family: Arial, Helvetica, sans-serif}

.Arial_12_grey {color: #333333; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
.Arial_12_white_bold {color: #FFFFFF; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_12_black_bold {font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_12_black {font-size: 12px; font-family: Arial, Helvetica, sans-serif}

.Arial_12_red_bold {color: #CC0000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_13_red {color: #CC0000; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
.Arial_13_red_bold {color: #CC0000; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_13_brown_bold {color: #a67d4b; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_13_green_bold {color: #669426; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_13_orange_bold {color: #e29900; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_13_purple_bold {color: #a427dd; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_13_blue_light_mc {color: #daf0fb; font-size: 13px; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #00a6ea}
.Arial_13_blue_bold {color: #1195cf; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_13_white {color: #FFFFFF; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
.Arial_13_white_bold {color: #FFFFFF; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_13_white_mcs_selected {color: #FFFFFF; font-size: 13px; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #9f9f9f}
.Arial_13_white_mcs_bold {color: #FFFFFF; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #9f9f9f}
.Arial_13_white_mc {color: #FFFFFF; font-size: 13px; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #00a6ea}
.Arial_13_white_mc_bold {color: #FFFFFF; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #00a6ea}
.Arial_13_white_mc_italic {color: #FFFFFF; font-size: 13px; font-style: italic; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #00a6ea}
.Arial_13_white_mc_italic_bold {color: #FFFFFF; font-size: 13px; font-style: italic; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #00a6ea}

.Arial_13_grey {color: #333333; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
.Arial_13_grey_italic {color: #333333; font-size: 13px; font-family: Arial, Helvetica, sans-serif; font-style: italic}
.Arial_13_grey_italic_bold {color: #333333; font-size: 13px; font-family: Arial, Helvetica, sans-serif; font-style: italic; font-weight: bold}
.Arial_13_grey_bold6 {color: #666666; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_13_grey_light6 {color: #666666; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
.Arial_13_grey_light8 {color: #888888; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
.Arial_13_grey_lightA {color: #AAAAAA; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
.Arial_13_grey_lightA_bold {color: #AAAAAA; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_13_grey_lightE {color: #EEEEEE; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
.Arial_13_grey_bold {color: #333333; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_13_grey_light8_bold {color: #888888; font-size: 13px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_13_grey_mcs_lightE {color: #EEEEEE; font-size: 13px; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #9f9f9f}

.Arial_14_grey {color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif}
.Arial_14_grey_bold {color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
.Arial_14_grey_lightA_bold {color: #AAAAAA; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_14_brown_bold {color: #a67d4b; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_16_grey {color: #333333; font-size: 16px; font-family: Arial, Helvetica, sans-serif}

.Arial_18_grey_bold {color: #333333; font-size: 18px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_20_blue {color: #1195cf; font-size: 20px; font-family: Arial, Helvetica, sans-serif}
.Arial_20_blue_bold {color: #1195cf; font-size: 20px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.Arial_24_blue {color: #1195cf; font-size: 24px; font-family: Arial, Helvetica, sans-serif}
.Arial_24_blue_bold {color: #0093ce; font-size: 24px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_24_brown_bold {color: #a67d4b; font-size: 24px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Arial_18_black_bold {color: #000000; font-size: 18px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_10_grey:link {background:none;color:#333333; text-decoration: underline; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_grey:visited {color:#333333; text-decoration: underline; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_grey:active {color:#333333; text-decoration: underline; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_grey:hover {color: #333333; text-decoration: underline; font-size: 10px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_10_grey_bold:link {background:none;color:#333333; font-weight: bold; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_grey_bold:visited {color:#333333; font-weight: bold; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_grey_bold:active {color:#333333; font-weight: bold; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_grey_bold:hover {color: #333333; font-weight: bold; text-decoration: underline; font-size: 10px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_10_grey_boldA:link {background:none;color:#AFAFAF; font-weight: bold; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_grey_boldA:visited {color:#AFAFAF; font-weight: bold; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_grey_boldA:active {color:#AFAFAF; font-weight: bold; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_grey_boldA:hover {color: #AFAFAF; font-weight: bold; text-decoration: underline; font-size: 10px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_10_grey_lightA:link {background:none;color:#AFAFAF; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_grey_lightA:visited {color:#AFAFAF; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_grey_lightA:active {color:#AFAFAF; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_grey_lightA:hover {color: #AFAFAF; text-decoration: underline; font-size: 10px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_10_white_bold:link {background:none;color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_white_bold:visited {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_white_bold:active {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_white_bold:hover {color: #FFFFFF; font-weight: bold; text-decoration: underline; font-size: 10px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_10_red_bold:link {background:none;color:#CC0000; font-weight: bold; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_red_bold:visited {color:#CC0000; font-weight: bold; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_red_bold:active {color:#CC0000; font-weight: bold; text-decoration: none; font-size: 10px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_10_red_bold:hover {color: #CC0000; font-weight: bold; text-decoration: underline; font-size: 10px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_grey:link {background:none;color:#333333; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey:visited {color:#333333; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey:active {color:#333333; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey:hover {color: #333333; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_grey_ul:link {background:none;color:#333333; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_ul:visited {color:#333333; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_ul:active {color:#333333; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_ul:hover {color: #333333; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_grey_light8:link {background:none;color:#888888; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light8:visited {color:#888888; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light8:active {color:#888888; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light8:hover {color: #888888; text-decoration: underline; font-size: 12px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_grey_light8_bold:link {background:none;color:#888888; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light8_bold:visited {color:#888888; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light8_bold:active {color:#888888; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light8_bold:hover {color: #888888; font-weight: bold; text-decoration: underline; font-size: 12px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_grey_light8_nul:link {background:none;color:#888888; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light8_nul:visited {color:#888888; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light8_nul:active {color:#888888; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light8_nul:hover {color: #888888; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_grey_light8_ul:link {background:none;color:#888888; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light8_ul:visited {color:#888888; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light8_ul:active {color:#888888; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light8_ul:hover {color: #888888; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_grey_bold:link {background:none;color:#333333; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_bold:visited {color:#333333; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_bold:active {color:#333333; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_bold:hover {color: #333333; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_grey_bold_light8:link {background:none;color:#888888; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_bold_light8:visited {color:#888888; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_bold_light8:active {color:#888888; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_bold_light8:hover {color: #888888; font-weight: bold; text-decoration: underline; font-size: 12px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_blue_bold:link {background:none;color:#0093ce; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_blue_bold:visited {color:#0093ce; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_blue_bold:active {color:#0093ce; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_blue_bold:hover {color: #0093ce; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_yellow_bold:link {background:none;color:#ffe300; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_yellow_bold:visited {color:#ffe300; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_yellow_bold:active {color:#ffe300; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_yellow_bold:hover {color: #ffe300; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_white_bold_kbg:link {background:none;color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white_bold_kbg:visited {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white_bold_kbg:active {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white_bold_kbg:hover {color: #2CC0FF; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_white_bold_ybg:link {background:none;color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white_bold_ybg:visited {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white_bold_ybg:active {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white_bold_ybg:hover {color: #ffe300; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_grey_hul:link {background:none;color:#333333;text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_hul:visited {color:#333333;text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_hul:active {color:#333333;text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_hul:hover {color: #333333;text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_grey_light6u:link {background:none;color:#666666; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light6u:visited {color:#666666; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light6u:active {color:#666666; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light6u:hover {color: #666666; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_grey_light6_bold:link {background:none;color:#666666; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light6_bold:visited {color:#666666; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light6_bold:active {color:#666666; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_light6_bold:hover {color: #666666; font-weight: bold; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_grey_lightA_bold:link {background:none;color:#AFAFAF; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_lightA_bold:visited {color:#AFAFAF; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_lightA_bold:active {color:#AFAFAF; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_grey_lightA_bold:hover {color: #AFAFAF; font-weight: bold; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_brown_bold:link {background:none;color:#a67d4b; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_brown_bold:visited {color:#a67d4b; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_brown_bold:active {color:#a67d4b; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_brown_bold:hover {color: #a67d4b; font-weight: bold; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_white:link {background:none;color:#FFFFFF; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white:visited {color:#FFFFFF; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white:active {color:#FFFFFF; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white:hover {color: #FFFFFF; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_white_hul:link {background:none;color:#FFFFFF;text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white_hul:visited {color:#FFFFFF;text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white_hul:active {color:#FFFFFF;text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white_hul:hover {color: #FFFFFF;text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_white_bold:link {background:none;color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif;text-shadow:0 1px 0 #000000;}
A.HL_Arial_11_white_bold:visited {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif;text-shadow:0 1px 0 #000000;}
A.HL_Arial_11_white_bold:active {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif;text-shadow:0 1px 0 #000000;}
A.HL_Arial_11_white_bold:hover {color: #8EDDFF; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif;text-shadow:0 1px 0 #000000;}

A.HL_Arial_11_white_bold_ulh:link {background:none;color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white_bold_ulh:visited {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white_bold_ulh:active {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_white_bold_ulh:hover {color: #FFFFFF; font-weight: bold; text-decoration: underline; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_blue_light_bold:link {background:none;color:#83cbe7; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_blue_light_bold:visited {color:#83cbe7; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_blue_light_bold:active {color:#83cbe7; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_blue_light_bold:hover {color: #83cbe7; font-weight: bold; text-decoration: none; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_11_red_bold:link {background:none;color:#CC0000; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_red_bold:visited {color:#CC0000; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_red_bold:active {color:#CC0000; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_red_bold:hover {color: #CC0000; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_12_grey_nul:link {background:none;color:#333333; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_12_grey_nul:visited {color:#333333; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_12_grey_nul:active {color:#333333; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_12_grey_nul:hover {color: #333333; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_12_white_nul:link {background:none;color:#FFFFFF; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_12_white_nul:visited {color:#FFFFFF; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_12_white_nul:active {color:#FFFFFF; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_12_white_nul:hover {color: #FFFFFF; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_13_grey_lightA_nul:link {background:none;color:#AAAAAA; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_lightA_nul:visited {color:#AAAAAA; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_lightA_nul:active {color:#AAAAAA; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_lightA_nul:hover {color: #AAAAAA; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_13_grey_lightA:link {background:none;color:#AAAAAA; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_lightA:visited {color:#AAAAAA; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_lightA:active {color:#AAAAAA; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_lightA:hover {color: #AAAAAA; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_13_grey_nul:link {background:none;color:#333333; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_nul:visited {color:#333333; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_nul:active {color:#333333; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_nul:hover {color: #333333; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_13_grey_bold_nul:link {background:none;color:#333333; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_bold_nul:visited {color:#333333; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_bold_nul:active {color:#333333; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_bold_nul:hover {color:#333333; font-weight: bold; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_13_grey_bold_ul:link {background:none;color:#333333; font-weight: bold; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_bold_ul:visited {color:#333333; font-weight: bold; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_bold_ul:active {color:#333333; font-weight: bold; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_bold_ul:hover {color:#333333; font-weight: bold; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_13_green_bold_nul:link {background:none;color:#669426; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_green_bold_nul:visited {color:#669426; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_green_bold_nul:active {color:#669426; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_green_bold_nul:hover {color:#669426; font-weight: bold; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_13_red_bold_nul:link {background:none;color:#CC0000; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_red_bold_nul:visited {color:#CC0000; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_red_bold_nul:active {color:#CC0000; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_red_bold_nul:hover {color:#CC0000; font-weight: bold; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_13_white_nul:link {background:none;color:#FFFFFF; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_white_nul:visited {color:#FFFFFF; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_white_nul:active {color:#FFFFFF; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_white_nul:hover {color: #FFFFFF; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_13_white_bold_nul:link {background:none;color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_white_bold_nul:visited {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_white_bold_nul:active {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_white_bold_nul:hover {color:#FFFFFF; font-weight: bold; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_13_grey:link {background:none;color:#333333; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey:visited {color:#333333; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey:active {color:#333333; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey:hover {color: #333333; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_13_grey_light8:link {background:none;color:#888888; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_light8:visited {color:#888888; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_light8:active {color:#888888; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_grey_light8:hover {color: #888888; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_13_blue_light_mc:link {background:none;color:#daf0fb; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #00a6ea}
A.HL_Arial_13_blue_light_mc:visited {color:#daf0fb; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #00a6ea}
A.HL_Arial_13_blue_light_mc:active {color:#daf0fb; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #00a6ea}
A.HL_Arial_13_blue_light_mc:hover {color:#daf0fb; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif; text-shadow: 0px 1px 0px #00a6ea}

A.HL_Arial_13_blue_bold:link {background:none;color:#1195cf; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_blue_bold:visited {color:#1195cf; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_blue_bold:active {color:#1195cf; font-weight: bold; text-decoration: none; font-size: 13px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_13_blue_bold:hover {color: #1195cf; font-weight: bold; text-decoration: underline; font-size: 13px; font-family: Arial, Helvetica, sans-serif}

A.HL_Arial_14_grey_bold_nul:link {background:none;color:#333333; font-weight: bold; text-decoration: none; font-size: 14px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_14_grey_bold_nul:visited {color:#333333; font-weight: bold; text-decoration: none; font-size: 14px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_14_grey_bold_nul:active {color:#333333; font-weight: bold; text-decoration: none; font-size: 14px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_14_grey_bold_nul:hover {color:#333333; font-weight: bold; text-decoration: underline; font-size: 14px; font-family: Arial, Helvetica, sans-serif}


A.HL_Arial_11_greyblue:link {color:#333333; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_greyblue:visited {color:#333333; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_greyblue:active {color:#333333; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_greyblue:hover {color: #108bc1; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}


.Arial_11_greyblue {color: #1195cf; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}


A.HL_Arial_11_greyblue_bold:link {color:#333333; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_greyblue_bold:visited {color:#333333; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_greyblue_bold:active {color:#333333; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}
A.HL_Arial_11_greyblue_bold:hover {color: #1195cf; font-weight: bold; text-decoration: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif}

A.HL_wFont_header_link_green:link {color:#d7eac1; text-decoration: none; font-size: 25; font-family: "HelveticaNeue-Light", Helvetica, Arial}
A.HL_wFont_header_link_green:visited {color:#d7eac1; text-decoration: none; font-size: 25; font-family: "HelveticaNeue-Light", Helvetica, Arial}
A.HL_wFont_header_link_green:active {color:#d7eac1; text-decoration: none; font-size: 25; font-family: "HelveticaNeue-Light", Helvetica, Arial}
A.HL_wFont_header_link_green:hover {color:#d7eac1; text-decoration: none; font-size: 25; font-family: "HelveticaNeue-Light", Helvetica, Arial}

.wFont_Medium_L_green {font-size: 25px; font-family: "HelveticaNeue-Medium"; color: #5a9b28}
.wFont_Medium_L_grey {font-size: 25px; font-family: "HelveticaNeue-Medium"; color: #333333}
.wFont_Medium_L_red {font-size: 25px; font-family: "HelveticaNeue-Medium"; color: #e32800}
.wFont_Medium_S_red {font-size: 17px; font-family: "HelveticaNeue-Medium"; color: #e32800}
.wFont_Medium_S_green {font-size: 17px; font-family: "HelveticaNeue-Medium"; color: #5a9b28}

.Tahoma_11_grey_light6 {color: #666666; font-size: 11px; font-family: Tahoma, Verdana, Sans-serif}
A.HL_Tahoma_11_grey_light6u:link {color:#666666; text-decoration: underline; font-size: 11px; font-family: Tahoma, Verdana, sans-serif}
A.HL_Tahoma_11_grey_light6u:visited {color:#666666; text-decoration: underline; font-size: 11px; font-family: Tahoma, Verdana, sans-serif}
A.HL_Tahoma_11_grey_light6u:active {color:#666666; text-decoration: underline; font-size: 11px; font-family: Tahoma, Verdana, sans-serif}
A.HL_Tahoma_11_grey_light6u:hover {color: #666666; text-decoration: underline; font-size: 11px; font-family: Tahoma, Verdana, sans-serif}

/* Password */
.Password {color: #AAAAAA; font-size: 21px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.Password_edit {color: #333333; font-size: 21px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}


/* Device screen text */
A.HL_mFont_22_grey:link {background:none;color:#333333; text-decoration: none; font-size: 22px; font-family: "Droid Sans"}
A.HL_mFont_22_grey:visited {color:#333333; text-decoration: none; font-size: 22px; font-family: "Droid Sans"}
A.HL_mFont_22_grey:active {color:#333333; text-decoration: none; font-size: 22px; font-family: "Droid Sans"}
A.HL_mFont_22_grey:hover {color:#333333; text-decoration: none; font-size: 22px; font-family: "Droid Sans"}

A.HL_mFont_22_grey_lightA_bold:link {background:none;color:#AAAAAA; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans"}
A.HL_mFont_22_grey_lightA_bold:visited {color:#AAAAAA; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans"}
A.HL_mFont_22_grey_lightA_bold:active {color:#AAAAAA; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans"}
A.HL_mFont_22_grey_lightA_bold:hover {color:#AAAAAA; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans"}

A.HL_mFont_22_grey_bold:link {background:none;color:#333333; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans"}
A.HL_mFont_22_grey_bold:visited {color:#333333; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans"}
A.HL_mFont_22_grey_bold:active {color:#333333; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans"}
A.HL_mFont_22_grey_bold:hover {color:#333333; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans"}

A.HL_mFont_26_white:link {background:none;color:#FFFFFF; text-decoration: none; font-size: 26px; font-family: "Droid Sans"}
A.HL_mFont_26_white:visited {color:#FFFFFF; text-decoration: none; font-size: 26px; font-family: "Droid Sans"}
A.HL_mFont_26_white:active {color:#FFFFFF; text-decoration: none; font-size: 26px; font-family: "Droid Sans"}
A.HL_mFont_26_white:hover {color:#FFFFFF; text-decoration: none; font-size: 26px; font-family: "Droid Sans"}

A.HL_mFont_26_white_bold:link {background:none;color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 26px; font-family: "Droid Sans"}
A.HL_mFont_26_white_bold:visited {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 26px; font-family: "Droid Sans"}
A.HL_mFont_26_white_bold:active {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 26px; font-family: "Droid Sans"}
A.HL_mFont_26_white_bold:hover {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 26px; font-family: "Droid Sans"}

.mFont_14_grey {font-size: 14px; font-family:"Droid Sans,Arial,Helvetica,sans-serif"; color: #333333}
.mFont_14_grey8 {font-size: 14px; font-family:"Droid Sans,Arial,Helvetica,sans-serif"; color: #888888}
.mFont_14_red {font-size: 14px; font-family:"Droid Sans,Arial,Helvetica,sans-serif"; color: #CC0000}

.mFont_16_grey_bold {font-size: 16px; font-family:"Droid Sans,Arial,Helvetica,sans-serif"; color: #333333; font-weight: bold}
.mFont_16_white_bold {font-size: 16px; font-family:Droid Sans,Arial,Helvetica,sans-serif;color:#FFFFFF;font-weight:bold}

.mFont_17_red_bold {font-size: 17px; font-family:"Droid Sans"; color: #CC0000; font-weight: bold}

.mFont_22_grey_bold {font-size: 22px; font-family:"Droid Sans"; color: #333333; font-weight: bold}
.mFont_22_grey {font-size: 22px; font-family:"Droid Sans,Arial,Helvetica,sans-serif"; color: #333333}
.mFont_22_grey_light {font-size: 22px; font-family:"Droid Sans,Arial,Helvetica,sans-serif"; color: #666666}
.mFont_22_red {font-size: 22px; font-family:"Droid Sans,Arial,Helvetica,sans-serif"; color: #CC0000}
.mFont_22_red_bold {font-size: 22px; font-family:"Droid Sans,Arial,Helvetica,sans-serif"; color: #CC0000; font-weight: bold}
.mFont_22_white_bold {font-size: 22px; font-family:"Droid Sans,Arial,Helvetica,sans-serif"; color: #FFFFFF; font-weight: bold}

.wFont_header {color:#FFFFFF; font-size: 25px; font-family: "HelveticaNeue-Medium", Helvetica, Arial}
.wFont_L_grey {font-size: 25px; font-family: "HelveticaNeue"; color: #333333}
.wFont_Light_L_grey {font-size: 25px; font-family:"HelveticaNeue-Light"; color: #333333}
.wFont_Light_L_grey_light {font-size: 25px; font-family: "HelveticaNeue-Light"; color: #8d8d8d}
.wFont_Light_L_grey_lightA {font-size: 25px; font-family: "HelveticaNeue-Light"; color: #AAAAAA}
.wFont_Light_M_grey_lightA {font-size: 22px; font-family: "HelveticaNeue-Light"; color: #AAAAAA}
.wFont_Light_M_grey {font-size: 22px; font-family: "HelveticaNeue-Light"; color: #333333}


/* Device screen hyperlinks */
A.HL_HelveticaLight_26_white:link {background:none;color:#FFFFFF; text-decoration: none; font-size: 26px; font-family: "Helvetica Light", Times}
A.HL_HelveticaLight_26_white:visited {color:#FFFFFF; text-decoration: none; font-size: 26px; font-family: "Helvetica Light", Times}
A.HL_HelveticaLight_26_white:active {color:#FFFFFF; text-decoration: none; font-size: 26px; font-family: "Helvetica Light", Times}
A.HL_HelveticaLight_26_white:hover {color:#FFFFFF; text-decoration: none; font-size: 26px; font-family: "Helvetica Light", Times}

A.HL_wFont_Light_L_grey_lightA:link {color:#AAAAAA; text-decoration: none; font-size: 25; font-family: "HelveticaNeue-Light", Helvetica, Arial}
A.HL_wFont_Light_L_grey_lightA:visited {color:#AAAAAA; text-decoration: none; font-size: 25; font-family: "HelveticaNeue-Light", Helvetica, Arial}
A.HL_wFont_Light_L_grey_lightA:active {color:#AAAAAA; text-decoration: none; font-size: 25; font-family: "HelveticaNeue-Light", Helvetica, Arial}
A.HL_wFont_Light_L_grey_lightA:hover {color:#AAAAAA; text-decoration: none; font-size: 25; font-family: "HelveticaNeue-Light", Helvetica, Arial}



/* DEVICE */
/* Header text */
.mFont_header_blue {color:#FFFFFF; font-weight: bold; font-size: 38px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #004765}
.mFont_header_green {color:#FFFFFF; font-weight: bold; font-size: 38px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #374e00}
.mFont_header_orange {color:#FFFFFF; font-weight: bold; font-size: 38px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #805600}
.mFont_header_purple {color:#FFFFFF; font-weight: bold; font-size: 38px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #591478}
.mFont_header_red {color:#FFFFFF; font-weight: bold; font-size: 38px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #621200}

A.HL_mFont_headerbutton_blue:link {background:none;color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #004765}
A.HL_mFont_headerbutton_blue:visited {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #004765}
A.HL_mFont_headerbutton_blue:active {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #004765}
A.HL_mFont_headerbutton_blue:hover {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #004765}

A.HL_mFont_headerbutton_green:link {background:none;color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #374e00}
A.HL_mFont_headerbutton_green:visited {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #374e00}
A.HL_mFont_headerbutton_green:active {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #374e00}
A.HL_mFont_headerbutton_green:hover {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #374e00}

A.HL_mFont_headerbutton_orange:link {background:none;color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #805600}
A.HL_mFont_headerbutton_orange:visited {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #805600}
A.HL_mFont_headerbutton_orange:active {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #805600}
A.HL_mFont_headerbutton_orange:hover {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #805600}

A.HL_mFont_headerbutton_purple:link {background:none;color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #591478}
A.HL_mFont_headerbutton_purple:visited {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #591478}
A.HL_mFont_headerbutton_purple:active {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #591478}
A.HL_mFont_headerbutton_purple:hover {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #591478}

A.HL_mFont_headerbutton_red:link {background:none;color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #621200}
A.HL_mFont_headerbutton_red:visited {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #621200}
A.HL_mFont_headerbutton_red:active {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #621200}
A.HL_mFont_headerbutton_red:hover {color:#FFFFFF; font-weight: bold; text-decoration: none; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #621200}


/* Divider text */
.mFont_divider_blue {color:#FFFFFF; font-weight: bold; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #1b5e7c}
.mFont_divider_green {color:#FFFFFF; font-weight: bold; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #4a6300}
.mFont_divider_orange {color:#FFFFFF; font-weight: bold; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #805600}
.mFont_divider_purple {color:#FFFFFF; font-weight: bold; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #591478}
.mFont_divider_red {color:#FFFFFF; font-weight: bold; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #621200}


/* Normal text */
.mFont_22_white_bold {font-size: 22px; font-family: "Droid Sans"; color: #FFFFFF; font-weight: bold}
.mFont_26_grey_light80 {font-size: 26px; font-family: "Droid Sans"; color: #808080}
.mFont_26_purple {font-size: 26px; font-family: "Droid Sans"; color: #8f22be}
.mFont_32_grey_bold {font-size: 32px; font-family: "Droid Sans"; color: #333333; font-weight: bold}
.mFont_32_white_bold {font-size: 32px; font-family: "Droid Sans"; color: #FFFFFF; font-weight: bold}
.mFont_32_grey_light80_bold {font-size: 32px; font-family: "Droid Sans"; color: #808080; font-weight: bold}

.mFont_menu_22_grey_bold_light9 {color: #999999; font-weight: bold; font-size: 22px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #000000}
.mFont_menu_26_grey_light9 {color:#999999; font-size: 26px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #000000}
.mFont_menu_26_white {color:#FFFFFF; font-size: 26px; font-family: "Droid Sans", Helvetica, Arial; text-shadow: 0px -2px 0px #000000}

@font-face {
	font-family:"Droid Sans";		
	src:url('/resources/css/commons/webFonts/DroidSans.eot?#iefix') format('embedded-opentype'),
	url("/resources/css/commons/webFonts/DroidSans.ttf") format("truetype"),
	url("/resources/css/commons/webFonts/DroidSans.eot?") format("eot"),
	url("/resources/css/commons/webFonts/DroidSansMono.woff") format("woff"),	
	url("/resources/css/commons/webFonts/DroidSansMono.svg#DroidSansMono") format("svg");	
	font-weight:normal;font-style:normal;
}

@font-face {
	font-family:"HelveticaNeue";		
	src:url('/resources/css/commons/webFonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
	url("/resources/css/commons/webFonts/HelveticaNeue.ttf") format("truetype"),
	url("/resources/css/commons/webFonts/HelveticaNeue.eot?") format("eot"),	
	url("/resources/css/commons/webFonts/HelveticaNeue.woff") format("woff"),
	url("/resources/css/commons/webFonts/HelveticaNeue.svg#HelveticaNeue") format("svg");	
	font-weight:normal;font-style:normal;
}

@font-face {
	font-family:"HelveticaNeue-Medium";		
	src:url('/resources/css/commons/webFonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
	url("/resources/css/commons/webFonts/HelveticaNeue-Medium.ttf") format("truetype"),
	url("/resources/css/commons/webFonts/HelveticaNeue-Medium.eot?") format("eot"),	
	url("/resources/css/commons/webFonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");	
	font-weight:normal;font-style:normal;
}

@font-face {
	font-family: "HelveticaNeue-Light";		
	src:url('/resources/css/commons/webFonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
	url("/resources/css/commons/webFonts/HelveticaNeue-Light.ttf") format("truetype"),
	url("/resources/css/commons/webFonts/HelveticaNeue-Light.eot?") format("eot"),	
	url("/resources/css/commons/webFonts/HelveticaNeue-Light.woff") format("woff"),
	url("/resources/css/commons/webFonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");	
	font-weight:normal;font-style:normal;
}

.pop_div_shadow_opacity4{
  box-shadow:0px 0px 20px rgba(0,0,0,0.4);
  -moz-box-shadow:0px 0px 20px rgba(0,0,0,0.4);
  -webkit-box-shadow:0px 0px 30px rgba(0,0,0,0.4);  
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
}

/* Map loading animation */
.loader {
    text-align: center;    
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: white;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.3;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.9;
    -webkit-transform: translateY(-21px);
  }
}
@-moz-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.3;
    -moz-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.9;
    -moz-transform: translateY(-21px);
  }
}

